<div>
  <link href="./game-container12.css" rel="stylesheet" />
  <div class="game-container12-game-container">
    <div class="game-container12-container">
      <a href="paper-minecraft.html" class="game-container12-navlink">
        <img
          alt="image"
          src="public/paper-minecraft-paper-minecraft-300h.jpg"
          class="game-container12-image"
        />
      </a>
      <span class="game-container12-text"><span>Paper Minecraft</span></span>
    </div>
    <div class="game-container12-container1">
      <a href="g-switch-3.html" class="game-container12-navlink1">
        <img
          alt="image"
          src="public/g-switch-3-m264x264-300h.jpg"
          class="game-container12-image1"
        />
      </a>
      <span class="game-container12-text1"><span>G Switch 3</span></span>
    </div>
    <div class="game-container12-container2">
      <a href="hole-dot-io.html" class="game-container12-navlink2">
        <img
          alt="image"
          src="public/holeio-300h.jpg"
          class="game-container12-image2"
        />
      </a>
      <span class="game-container12-text2"><span>Hole.io</span></span>
    </div>
    <div class="game-container12-container3">
      <a href="aquapark-slides.html" class="game-container12-navlink3">
        <img
          alt="image"
          src="public/aquapark%20slides-300h.jpeg"
          class="game-container12-image3"
        />
      </a>
      <span class="game-container12-text3"><span>Aquapark Slides</span></span>
    </div>
  </div>
</div>
